.prince-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.plan {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.plan-wrapper {
    width: 180px;
    height: 269px;
    background: #E6DACA;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: relative;

    h1 {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #002B11;
        position: relative;
        left: 14px;
        right: 45px;
    }

    label {
        position: relative;
        width: 60px;
        height: 85px;
        left: 14px;
        right: 14px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;

        color: rgba(0, 43, 17, 0.8);
    }
}

.shopimg {
    position: relative;
    width: 156px;
    height: 121px;
    left: 12px;
    right: 12px;
    top: 12px;
    bottom: 136px;
    text-align: center;
    background: #C4C4C4;
    border-radius: 6px;
}

.divider {
    width: 50%;
    margin-top: 13px;
    margin-bottom: 12px;
    border-bottom: 1px solid #dbdbdb;
}

