.custom-button {
    background: #002B11;
    border: 1px solid #002B11;
    box-sizing: border-box;
    border-radius: 4px;
    width: 367px;
    height: 28px;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}